@use "@angular/material" as mat;
@import "material-icons/iconfont/material-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "theme.scss";

/* Layout */
html,
body {
  height: 100%;
  background-color: #f5f7fa;
  font-family: "Work Sans", sans-serif;
}

.mat-toolbar {
  background: #fff;
  color: mat.m2-get-color-from-palette($app-primary, 700);

  .mat-toolbar-row {
    height: 80px;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.09);
  }
}

/* Dialog */
.mat-dialog-container {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Blackdrop */
.scroll-blackdrop {
  background: rgba(0, 0, 0, 0.32);
}

.scroll-blackdrop + .cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

.with-spacer {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: mat.m2-get-color-from-palette($app-primary, 500);
}

a:hover {
  color: mat.m2-get-color-from-palette($app-primary, 700);
}

/* Buttons */
.mat-raised-button.primary {
  background-color: mat.m2-get-color-from-palette($app-primary, 900);
  color: #fff;
  border-radius: 30px;
}

.mat-raised-button.primary:hover {
  background-color: mat.m2-get-color-from-palette($app-primary, 600);
}

/* Menu */
.mat-sidenav-container {
  height: calc(100% - 80px);
}

.main-menu.mat-sidenav {
  overflow: hidden;
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.12);
}

.main-menu .mat-list-base {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main-menu .mat-list-base .mat-list-item {
  font-size: 14px;
  height: unset !important;
  margin-right: 12px;
}

.main-menu .mat-list-base .mat-list-item-content {
  padding: 12px !important;
}

.mat-list-item span {
  margin-left: 12px;
}

.mat-list-item,
.mat-list-item .mat-icon-no-color,
.mat-list-item span {
  color: mat.m2-get-color-from-palette($app-primary, 700);
}

.main-menu {
  .mat-list-base {
    .expansion-menu {
      margin-right: 0px;
    }

    .mat-expansion-panel {
      overflow: visible;

      .mat-expansion-panel-header {
        padding: 0;

        .mat-list-item {
          margin-right: 0;
        }
      }

      .mat-expansion-panel-content {
        overflow: hidden;

        .mat-expansion-panel-body {
          padding: 0px;

          .mat-list-item-content {
            padding-left: 48px !important;
          }
        }
      }
    }
  }
}

/* Actions */
.mat-card-actions {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-card-actions-inner {
  display: flex;
}

.mat-dialog-actions {
  margin-bottom: -12px !important;
}

.mat-card-actions button,
.mat-dialog-actions button {
  margin-left: 8px;
}

.mat-card-actions button:first-child,
.mat-dialog-actions button:first-child {
  margin-left: 0px;
}

/* Cards */
.mat-card {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.mat-card-title-group,
.mat-card-title,
.mat-card-subtitle {
  color: mat.m2-get-color-from-palette($app-primary, 700);
}

h2, .h2 {
  font-size: 18px;
}

h3, .h3 {
  font-size: 16px;
}

h4, .h4 {
  font-size: 14px;
}

.mat-card-title {
  font-size: 20px;
}

.mat-card-subtitle {
  font-size: 18px;
}

.mat-card-title-group .mat-icon-button {
  margin-top: -10px;
  margin-right: -10px;
}

.fixed-height .mat-card-content {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-form-field {
  margin-bottom: 4px;
}

.mat-mini-fab {
  margin-bottom: 14px !important;
}

/* Tables */
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding-left: 12px !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px !important;
}

td.mat-cell.clickable {
  cursor: pointer;
}

td.mat-cell.clickable:focus {
  outline: inherit;
}

td.mat-cell.clickable:hover a {
  text-decoration: underline;
}

/* Chips */
.mat-chip.mat-standard-chip {
  background-color: mat.m2-get-color-from-palette($app-primary, 700) !important;
  color: rgb(255, 255, 255) !important;

  .mat-chip-remove {
    color: rgba(255, 255, 255, 0.87);
    opacity: 0.4;
  }
}

/* Profile */
.profile {
  font-size: 16px;
  margin-left: 4px;
  margin-right: 12px;
}

/* Disabled */
.disabled {
  opacity: 0.7 !important;
  pointer-events: none;
}
